@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

body{
  margin: 0;
  background: #000;
  font-family: "Open Sans";
  overflow: hidden;
}
h1{
  color: white;
  text-align: center;
  font-size: 20px;
}
#text
canvas{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 2px solid white;
}